/*@FONT-FACE OID TOEPASSEN*/
@font-face {
    font-family: "D-DIN";
    src: url(https://www.datto.com/fonts/d-din);
}

body {
    font-family: "D-DIN";
    background-color: black;
    color: black;
}

header {
    height: 100px;
}

main {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "one"
        "two"
        "three"; 
    overflow-x: hidden;
}

span {
    font-size: 30px;
    color: rgba(63, 215, 215, 1);
}

h1 {
    padding-top: 20px;
    text-align: center;
    color: white;
    font-weight: 200;
}

h2 {
    color: black;
    font-size: 20px;
}

.two {
    width: 200px;
    height: 200px;
}

#snelheidsbalk {
    position: relative;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 30px 10px 30px 10px;
    overflow: hidden;
}

#balk {
    background-color: rgba(63, 215, 215, 1);
    width: 200px;
    height: 20px;
}

#gas {
    font-family: "D-DIN";
    float: right;
    margin-right: 10px;
    color: rgba(63, 215, 215, 1);
    background-color: #4c4c4c;
    border: 2px solid rgba(63, 215, 215, 1);
    padding: 8px 12px 8px 12px;
}

#gas:focus {
    outline: none;
}

#gas:hover {
    cursor: pointer;
    color: white;
    background-color: rgba(63, 215, 215, 1);
}

.bg_one, .bg_two, .bg_three {
    min-width: 330px;
    padding: 30px 20px 30px 20px;
    background-color: rgba(255, 255, 255, 0.3);
}

/*Source: https://www.youtube.com/watch?v=Cus9S2yxkzQ*/
.doughnut {
    width: 300px;
    height: 150px;
    position: relative;
    color: #3FD7D7;
    font-size: 30px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
}

.doughnut:after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 300px;
    height: 300px;
    border: 50px solid;
    border-color: rgba(255, 255, 255, 0.2) rgba(255, 255, 255, 0.2) #3FD7D7 #3FD7D7;
    border-radius: 50%;
    transform: rotate(100deg);
}

.bg_three {
    height: 250px;
}

.begin, .end {
    font-size: 14px;
}

.begin {
    color: #3FD7D7;
    position: relative;
    left: 5px;
}

.end {
    color: rgba(255, 255, 255, 0.2);
    position: relative;
    top: -25px;
    left: 250px;
}

/*
@keyframes fillAnimation {
    0% {transform:rotate(-45deg)}
    50% {transform:rotate(135deg)}
}
*/

/*Volgorde paktie niet!!!!!!*/
@media only screen and (min-width: 600px) and (max-width: 899px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "one three"
            "two"; 
    }
}

@media only screen and (min-width: 900px) and (max-width: 1500px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "one two three"; 
    }
}

